# Project exclude paths
/.gradle/
/Simple Chatty Bot/task/build/
/Simple Chatty Bot/task/out/
/Simple Chatty Bot/task/out/production/classes/
/Simple Chatty Bot/task/out/test/classes/
/Topics/Increment and decrement/Decrement all/out/
/Topics/Increment and decrement/Decrement all/out/production/classes/
/Topics/Increment and decrement/Theory/out/
/Topics/Increment and decrement/Theory/out/production/classes/
/Topics/Integer types and operations/Desks/out/
/Topics/Integer types and operations/Desks/out/production/classes/
/Topics/Integer types and operations/First digit/out/
/Topics/Integer types and operations/First digit/out/production/classes/
/Topics/Integer types and operations/How many nuts each squirrel will get/out/
/Topics/Integer types and operations/How many nuts each squirrel will get/out/production/classes/
/Topics/Integer types and operations/Reversing/out/
/Topics/Integer types and operations/Reversing/out/production/classes/
/Topics/Integer types and operations/Snail/out/
/Topics/Integer types and operations/Snail/out/production/classes/
/Topics/Integer types and operations/Squirrels and nuts/out/
/Topics/Integer types and operations/Squirrels and nuts/out/production/classes/
/Topics/Integer types and operations/The sum of digits/out/
/Topics/Integer types and operations/The sum of digits/out/production/classes/
/Topics/Integer types and operations/Theory/out/
/Topics/Integer types and operations/Theory/out/production/classes/
/Topics/Relational operators/Check the given numbers are different/out/
/Topics/Relational operators/Check the given numbers are different/out/production/classes/
/Topics/Relational operators/Check the sum/out/
/Topics/Relational operators/Check the sum/out/production/classes/
/Topics/Relational operators/Exactly one parameter is positive/out/
/Topics/Relational operators/Exactly one parameter is positive/out/production/classes/
/Topics/Relational operators/Groundhogs at a party/out/
/Topics/Relational operators/Groundhogs at a party/out/production/classes/
/Topics/Relational operators/Is between/out/
/Topics/Relational operators/Is between/out/production/classes/
/Topics/Relational operators/Theory/out/
/Topics/Relational operators/Theory/out/production/classes/
/Topics/The for-loop/Grades/out/
/Topics/The for-loop/Grades/out/production/classes/
/Topics/The for-loop/Numbers divisible by six/out/
/Topics/The for-loop/Numbers divisible by six/out/production/classes/
/Topics/The for-loop/Size of parts/out/
/Topics/The for-loop/Size of parts/out/production/classes/
/Topics/The for-loop/The count of numbers divisible by N/out/
/Topics/The for-loop/The count of numbers divisible by N/out/production/classes/
/Topics/The for-loop/The product of numbers from a to b/out/
/Topics/The for-loop/The product of numbers from a to b/out/production/classes/
/Topics/The for-loop/The roots of an equation/out/
/Topics/The for-loop/The roots of an equation/out/production/classes/
/Topics/The for-loop/The sum of integers from a to b/out/
/Topics/The for-loop/The sum of integers from a to b/out/production/classes/
/Topics/The for-loop/Theory/out/
/Topics/The for-loop/Theory/out/production/classes/